<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="addUserForm.form.valid && addUser()" #addUserForm="ngForm">
    <ion-item lines="full">
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" name="fullName" [(ngModel)]="user.fullName" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" name="email" [(ngModel)]="user.email" email></ion-input>
    </ion-item> 

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col> 
      <ion-button type="submit" expand="block">Register</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>