<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lists
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onAdd()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item button *ngFor="let list of lists" [routerLink]="['./', list.id]">
      <ion-label color="tertiary" class="ion-margin">
        <h2>{{ list.title | titlecase }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
